/* Resetting some default browser styles */
* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box; /* Makes width and height include padding and border */
}

html,
body {
  height: 100%; /* Ensures the body takes full height */
  font-family: Arial, sans-serif; /* Sets a default font */
}

/* Removes default list styling */
ul,
ol {
  list-style: none;
}

/* Removes default text decoration */
a {
  text-decoration: none;
  color: inherit; /* Inherits color from parent element */
}

/* Sets a consistent border style */
img {
  max-width: 100%; /* Makes images responsive */
  height: auto;
  display: block; /* Removes the bottom gap below images */
}
