/* MessageInput.css */
.bottombox {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #303131;
}

.bottombox img {
  width: 30px;
}

.input-box {
  color: black;
  font-size: 16px;
  border: 1px solid #ccc; /* Default border */
  border-radius: 4px;
  outline: none; /* Remove default outline */
}

.input-box:focus {
  box-shadow: none;
}

svg,
img:hover {
  cursor: pointer;
}
